.container {
    width: 320px;
    height: 660px;
    border-radius: 30px;
    background-color: #F8F8FF;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.grid-center {
    display: grid;
    place-content: center;
}

body {
    background-color: #181725;
    display: grid;
    place-content: center;
    justify-content: center;
}

main {
    padding-top: 15px;
    height: calc(100% - 30px - 50px);
    overflow-y: scroll;
    padding-inline: 15px 15px;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    display: none
}

section.active {
    display: block;
}

header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    top: 0;
    padding: 0 25px 0 25px;
    background-color: lightblue;
    
    div {
        height: 100%;
        align-items: center;
        font-size: 14px;
        
        i, p {
            margin-left: 3px;
        }
    }
}

footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: lightblue;
    border-top: solid 1px #00000041;
}

nav {
    padding: 0 50px 0 50px;  
    line-height: 50px;
    width: 100%;
    list-style: none;

    a {
        margin-top: 10px;
        position: relative;
        font-size: 10px;
        color: #008080
    }

    .profile-nav {
        
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #008080;
        color: #fff;
        font-size: 15px;
        border-radius: 50px;
    
        :hover {
            cursor: pointer;
        }
    }

    i {
        position: absolute;
        font-size: 15px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

.home {
    margin-bottom: 10px;

    .profile-icon {
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #008080;
        color: #fff;
        font-size: 18px;
        border-radius: 50px;
    
        :hover {
            cursor: pointer;
        }
    }

    h2 {
        font-size: 18px;
        margin-top: 20px;
        font-weight: 500;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    
    .column {
        height: 150px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgb(0 0 0 / 8%);
        flex: 0 0 calc(50% - 4px);
        max-width: calc(50% - 4px);
    }

    div.column {
        background-color: blue;
    }
    
    .button-container {
        width: 100%;
        margin-top: 10px;
    }

    button.view-all {
        width: 250px;
        text-align: center;
        color: #fff;
        background-color: #008080;
        padding: 5px;
        border-radius: 25px;
    }
}

.search {
    width: 100%;

    input[type=text] {
        margin-bottom: 10px;
        width: 290px;
        height: 30px;
        margin-top: 10px;
        border: 1px solid #18172529;
        border-radius: 25px;
        padding-inline: 10px;
        transition: border 0.3s ease-in;
    }

    input[type="text"]:focus {
        border: 1px solid #008080;
    }

    div {
        margin-top: 20px;
        width: 100%;
    }

    div div {
        width: 48%;
    }

    div input[type=text] {
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border: 1px solid #18172529;
        border-radius: 6px;
        padding-inline: 10px;
    }

    select {
        width: 100%;
        background-color: #fff;
        border: 1px solid #18172529;
        border-radius: 6px;
        transition: border 0.3s ease-in;
        
    }

    select:focus {
        border: 1px solid #008080;
    }
    
    option:hover {
        background-color: #008080;
    }
}

.swaps {
    
    h2 {
        margin-top: 20px;
    }

    li {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 5px;

    }

    .pic {
        width: 75px;
        height: 100px;
        background-color: blue;
    }
}

.settings {

    ul {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #00000029;
        
    }

    li {
        height: 40px;
        font-size: 20px;
        border: 1px 0 1px 0 solid;
    }
    
    li {
        border-bottom: 1px solid #000;
    }
}
